body {
    background: black;
    color:white;
   font-family: Arial, Helvetica, sans-serif; 
}

   
 


header li {
    display:inline;
    float:right;
    font-weight:bold;
    text-align: left;
    font-size: 40px;
}
/*header li {
 text-position:right;
 text-decoration: none;
 
 color:#6affe0;
 display: block;
}*/

button {
    color:white;
    margin-left:140px;
    background:black;
    border-radius:10px;
    padding:10px;
   line-height:5px;
   
}

#footer{
    background:url('scl.png')no-repeat;
    padding-top:10px;
   padding-bottom:300px;
 background-size: cover;
 background-position:left;
}
footer {
    margin-top:330px;
    text-align: center;
    margin-left:0px;
    color: silver;
}
.foot{
    margin-top:130px;
    margin-bottom:40px;
    text-align: center;
    margin-left:0px;
    color: silver;
    background:black;
    padding:0px 2px 20px 2px
}
.exp{
    background:rgba(10, 20,50, 10);
    color:silver;
    border-radius:10px solid;
    background-size:cover;
    padding-top:100px;
    padding-bottom:100px;
    font-size:25px;
}

    
.head{
    background: url('treat.jpg') no-repeat;
    background-size: cover;
margin-left: 0px;
margin-right:0px;
padding: 0px 0px 700px 600px;
border:10px;
border-radius: 10px solid white;
}
.head p{
    text-align:center;
    position:center;
    margin-left: 25px;
}
header{
   background:black; 
   color:#ffffff;
   font-size: 25px;
   border-bottom:5px solid #d5ffdf;
   padding:80px 30px 80px 20px;
   margin-top:0px;
}
header h4 {
   color:tan;
   margin-left: 26px;
   }
header li a {
    display:block;
    float:right;

    
    
}

form input{ border:none;
background: transparent;
padding:20px 50px;
text-align: center;
width: 240px;
border:none;
border-bottom:2px solid black;
font-size:18px;
font-weight:200px;
transition:border 0.5s;
outline:none;
height: 15px;
display:block;
color: silver;
    
}
button {
    color:white;
    margin-left:140px;
    background:black;
    border-radius:10px;
    padding:10px;
   line-height:5px;
   
}

#footer{
    background:url('scl.png')no-repeat;
    padding-top:10px;
   padding-bottom:500px;
 background-size: cover;
 background-position:center;
 
}
footer {
    margin-top:330px;
    text-align: center;
    margin-left:0px;
    color: silver;
    padding-bottom: 40px;
}
.foot{
    margin-top:0px;
    margin-bottom:40px;
    text-align: center;
    margin-left:0px;
    color: silver; 
    padding:50px 2px 40px 2px
}



}
.expo{
  background:black;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 8px;
  text-shadow: 10px;
  color:#d5ffdf;
    background:cover;
}
.expon{
  background:rgba(10, 50, 20, 8);
  border-radius: 10px;
  padding-bottom:100px;
  text-shadow: 10px;
    background:cover;
}
.anchor{
  
  margin-left:650px;
  display:block;
  color:#6affe0;
  
  
}
.anch{
  background:rgba(10,30,5, 15);
  padding-bottom: 150px;
  padding-top: 100px;
  border-radius:10px;
  
  
}
li a{
  
 text-position:right;
 
 text-decoration: none;
color:#6affe0;
}
.save{
  
  border-radius:20px solid;
  background:url("bio.jpg");
  padding:250px 0px 500px 0px;
  background-size: cover;
  margin-left: 20px;
  margin-right: 20px;
}


.saved{
  border-radius:20px solid;
  background:url("che.jpg");
  padding:250px 0px 500px 0px;
  background-size: cover;
  margin-left: 20px;
  margin-right: 20px;
}
.saver{
  border-radius:20px solid;
  background:url("phy.png");
  padding:250px 0px 500px 0px;
  background-size: cover;
  margin-left: 20px;
  margin-right: 20px;
}
.savely{
  border-radius:20px solid;
  background:url("math.jpg");
  padding:250px 0px 500px 0px;
  background-size: cover;
  margin-left: 20px;
  margin-right: 20px;
}
.savel{
  border-radius:20px solid;
  background:url("eng.jpg");
  padding:250px 0px 500px 0px;
  background-size: cover;
  margin-left: 20px;
  margin-right: 20px;
}
a strong{
  color:gold;
  margin-left: 25px;
}
h1{
  margin-left: 30px;
  font-size:30px;
}
p{
  margin-left: 27px;
  font-size:25px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
 } 
